<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>capturar</servlet-name>
        <servlet-class>ci.servlets.capturar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conestilo</servlet-name>
        <servlet-class>ci.servlets.conestilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llamarmaqueta</servlet-name>
        <servlet-class>ci.servlets.llamarmaqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarcategoria</servlet-name>
        <servlet-class>ci.servlets.agregarcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregaraccidente</servlet-name>
        <servlet-class>ci.servlets.agregaraccidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarvideo</servlet-name>
        <servlet-class>ci.servlets.agregarvideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarenfermedad</servlet-name>
        <servlet-class>ci.servlets.agregarenfermedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarsintoma</servlet-name>
        <servlet-class>ci.servlets.agregarsintoma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarconsecuencia</servlet-name>
        <servlet-class>ci.servlets.agregarconsecuencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarusuario</servlet-name>
        <servlet-class>ci.servlets.agregarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificar</servlet-name>
        <servlet-class>ci.servlets.modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>ci.servlets.eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>capturar</servlet-name>
        <url-pattern>/capturar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conestilo</servlet-name>
        <url-pattern>/conestilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llamarmaqueta</servlet-name>
        <url-pattern>/llamarmaqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarcategoria</servlet-name>
        <url-pattern>/agregarcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregaraccidente</servlet-name>
        <url-pattern>/agregaraccidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarvideo</servlet-name>
        <url-pattern>/agregarvideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarenfermedad</servlet-name>
        <url-pattern>/agregarenfermedad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarsintoma</servlet-name>
        <url-pattern>/agregarsintoma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarconsecuencia</servlet-name>
        <url-pattern>/agregarconsecuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarusuario</servlet-name>
        <url-pattern>/agregarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificar</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
